
.background.gradient {
  background: ##7e7e7e;
  background: linear-gradient(to bottom right, #27665e 0%, #55d45b 100%);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.imagenani {
  position: relative;
    width: 60%;
    height: 60%;
    opacity: 0.2;
    left: -1000px;
    animation: example 10s infinite linear;
    
  }
 
  @keyframes example {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(2600px)  rotate(300deg);
    }
    }
#fotos {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: grid;
  max-width: 80%;
 
  grid-gap: 4px;
  grid-template-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

header {
  text-align: center;
}
#encabezado {
  position: relative;
  width: 50%;
}
#navbar {
  z-index: 3;
  position: sticky;
  top: 400px;
  right: 90%;
  width: 150px;
  height: 200px;
}
#navbar2 {
  z-index: 3;
  position: sticky;
  top: 400px;
  left: 90%;
  width: 150px;
  height: 200px;
}

#lista {
  display: grid;
  grid-gap: 0.5px;
  grid-template-rows: 40px;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
  padding-left: 13%;
}
#next {
  color: rgb(9, 255, 0);
  background-color: rgb(3, 44, 30);
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 45px;
  width: 85%;
  left: 10%;
  position: relative;
}
#next:hover {
  color: rgb(7, 41, 5);
  background-color: rgb(134, 218, 190);
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 45px;
  width: 85%;
  left: 10%;
  position: relative;
}
.paginas {
  background-color: rgb(199, 240, 206);
  text-align: center;
  padding-top: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
  color: rgb(26, 116, 46);
  margin-top: 10px;
  margin-right: 5px;
  right: 200px;
}
.paginas:hover {
  background-color: rgb(20, 131, 75);
  color: rgb(206, 255, 239);
}
.personajes {
  position: relative;
  z-index: 2;
}
.personajes:hover {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.contenedor {
  position: relative;
  width: 300px;
}
.datos {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(12, 110, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(204, 243, 248);
  font-size-adjust: inherit; 
  text-align: center;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  header {
    text-align: center;
  }
  #encabezado {
    position: relative;
    width: 50%;
  }
  #fotos {
    margin-left: auto;
  margin-right: auto;
  margin-top: auto;
    
    display: grid;
    grid-gap: 4px;
    grid-template-rows: repeat(300px);
    grid-template-columns: repeat(auto-fill, 300px);
    
  }
  #navbar {
    position: sticky;
    top: 100px;
    right: 85%;
    width: 15%;
    height: 15%;
    z-index: 3;
  }
  #navbar2 {
    display: none;
  }
  #imagen-fondo {
    position: absolute;
    bottom: 0;
    left: 34%;
    width: 300px;
    height: 300px;
    z-index: -1;
  }
  #next {
    position: relative;
    color: rgb(9, 255, 0);
    background-color: rgb(3, 44, 30);
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    width: 325px;
    height: 100px;
    left: 12%;
   
  }
  #next:hover {
    position: relative;
    color: rgb(7, 41, 5);
    background-color: rgb(134, 218, 190);
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    width: 325px;
    height: 100px;
    left: 12%;
  }
  .paginas {
    display: none;
  }
  .personajes {
    position: relative;
    z-index: 2;
  }
  .personajes:hover {
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }
  
  .contenedor {
    position: relative;
    width: 300px;
  }
  .datos {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(12, 110, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 243, 248);
    text-align: center;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 800px){
  
  #fotos {
    margin-left: auto;
  margin-right: auto;
  margin-top: auto;
    display: grid;
    
    
    grid-gap: 4px;
    grid-template-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  header {
    text-align: center;
  }
  #encabezado {
    position: relative;
    width: 50%;
  }
  #navbar {
    z-index: 3;
    position: sticky;
    top: 400px;
    right: 90%;
    width: 100px;
    height: 150px;
  }
  #navbar2 {
    z-index: 3;
    position: sticky;
    top: 400px;
    left: 90%;
    width: 100px;
    height: 150px;
  }
  
  #lista {
    display: none;
    
  }
  #next {
    color: rgb(9, 255, 0);
    background-color: rgb(3, 44, 30);
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    width: 85%;
    height: 100px;
    left: 10%;
    position: relative;
  }
  #next:hover {
    color: rgb(7, 41, 5);
    background-color: rgb(134, 218, 190);
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    width: 85%;
    left: 10%;
    position: relative;
  }
  .paginas {
    background-color: rgb(199, 240, 206);
    text-align: center;
    padding-top: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    color: rgb(26, 116, 46);
    margin-top: 10px;
    margin-right: 5px;
    right: 200px;
  }
  .paginas:hover {
    background-color: rgb(20, 131, 75);
    color: rgb(206, 255, 239);
  }
  .personajes {
    position: relative;
    z-index: 2;
  }
  .personajes:hover {
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }
  
  .contenedor {
    position: relative;
    width: 300px;
  }
  .datos {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(12, 110, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 243, 248);
    text-align: center;
    height: 100%;
    width: 100%;
  }
}