html {
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(rgb(110, 206, 169), rgb(123, 223, 123));
  background-repeat: no-repeat;
}
main {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header,
footer {
  text-align: center;
}

#imagen-fondo {
  width: 300px;
  height: 300px;
}
#fotos {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 60px;
  /* grid-gap: 4px;
  grid-template-rows: 400px;
  grid-template-columns: repeat(auto-fill, 200px); */
}
#grande {
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 300px;
  grid-template-columns: 300px 300px 300px 300px 300px;
  padding-left: 25%;
}
.encabezado {
  width: 50%;
}
#navbar {
  width: 150px;
  height: 200px;
}
#navbar2 {
  width: 150px;
  height: 200px;
}

.personajes {
  position: relative;
  width: 100%;
  box-shadow: 5px 10px 45px 5px #5eff00;
  z-index: 2;
}
.personajes:hover {
  opacity: 0.2;
}

.datos {
  background-color: rgb(12, 110, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(181, 234, 241);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.contenedor {
  position: relative;
  width: 300px;
  margin: 4px;
  height: 300px;
}

/* aca quiero el responsive para movil pero aun no puedo encontrar el problema por que me cambia toda la pagina cuando cambio el max por el min,'*/
@media only screen and (max-width: 800px) {
  body {
    background: linear-gradient(rgb(110, 206, 169), rgb(123, 223, 123));
    background-repeat: no-repeat;
    background-size: cover;
  }
  #encabezado {
    width: 50%;
  }
  #fotos {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: repeat(200px);
    grid-template-columns: repeat(auto-fill, 200px);
  }
  #navbar {
    width: 80px;
    height: 120px;
  }
  #navbar2 {
    width: 80px;
    height: 120px;
  }
  #imagen-fondo {
    display: none;
    width: 300px;
    height: 300px;
  }
}
/* media quety para pantallas cuadradas y pequeñas*/
@media only screen and (max-width: 1280px) and (min-width: 800px) {
  #imagen-fondo {
    width: 300px;
    height: 300px;
  }
  #fotos {
    position: relative;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: repeat(300px);
    grid-template-columns: repeat(auto-fill, 300px);
  }

  #encabezado {
    width: 50%;
  }
  #navbar {
    width: 100px;
    height: 150px;
  }
  #navbar2 {
    width: 100px;
    height: 150px;
  }

  .personajes {
    box-shadow: 5px 10px 45px 5px #5eff00;
  }
  .personajes:hover {
    width: 310px;
    height: 310px;
    opacity: 0.2;
  }

  .datos {
    background-color: rgb(12, 110, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(181, 234, 241);
    width: 300px;
    height: 300px;
    text-align: center;
  }
  .contenedor {
    position: relative;
  }
  #frase {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    text-align: center;
    color: rgb(222, 248, 230);
  }
}
