
.background.gradient {
  background: ##7e7e7e;
  background: linear-gradient(to bottom right, #27665e 0%, #55d45b 100%);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.imagenani {
  position: relative;
    width: 60%;
    height: 60%;
    opacity: 0.2;
    left: -1000px;
    animation: example 10s infinite linear;
    
  }
 
  @keyframes example {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(2600px)  rotate(300deg);
    }
    }
  
header {
  text-align: center;
}
#encabezado {
  position: relative;
  width: 50%;
}
main {
  position: relative;
  max-width: 1200px;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#refreshbutton{
  position: relative;
  display: inline;
width: 10%;
height: 10%;
}
#allcharactersbutton{
  position: relative;
  display: inline;
  width: 10%;
  height: 10%;
}
#fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.personajes {
  position: relative;
  z-index: 2;
}
.personajes:hover {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.contenedor {
  position: relative;
  width: 300px;
}
.datos {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(12, 110, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size-adjust: inherit; 
  color: rgb(204, 243, 248);
  height: 100%;
  width: 100%;
}
footer {
  text-align: center;
}
#imagen-fondo {
  display: none;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;

}
@media only screen and (max-width: 800px){
  #refreshbutton{
    position: relative;
    display: inline;
    margin-top: 30%;
  width: 15%;
  height: 15%;
  }
  #allcharactersbutton{
    position: relative;
    display: inline;
    width: 15%;
    height: 15%;
  }
}